@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: Outfit;
}

html::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

html {
    overflow-y: scroll;
    /* Allows scroll but hides scrollbar */
    scrollbar-width: none;
    /* Firefox */
}

body {
    overflow: hidden;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: url('/cursor.png') 16 16, auto;
}

.slider-thumb1::before {
    overflow: hidden;
    position: absolute;
    content: "";
    left: 17%;
    top: 50%;
    width: 430px;
    height: 430px;
    opacity: 100%;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    opacity: 90%;
    z-index: -1;
    -webkit-animation: sliderShape 15s linear infinite;
    background: #A5ADF3;
}

.slider-thumb2::before {
    overflow: hidden;
    position: absolute;
    content: "";
    left: 50%;
    top: 13%;
    width: 430px;
    height: 430px;
    opacity: 90%;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 20s linear infinite;
    background: #FF8370;
}

@keyframes sliderShape {
    0%,
    100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}